{login_database,
  [
    {connection, [{name,login},{register,login}, {pool_size,32}]},
    {worker_options,[ {database, <<"login">>} ]},
    {index_options,[
      {<<"account">>, #{<<"key">> => #{<<"account_id">> => 1, <<"unique">> => true, <<"dropDups">> => true}}},
      {<<"account">>, #{<<"key">> => #{<<"account_name">> => 1, <<"platform_id">> => 1},<<"unique">> => true, <<"dropDups">> => true }}
      ]
    }
  ]
}.
